# Visual Studio cache directory.
src/.vs/

# Directories used during application build.
src/CommonUtilities/bin/
src/CommonUtilities/obj/

src/CommonUtilitiesTests/bin/
src/CommonUtilitiesTests/obj/

src/Client/bin/
src/Client/obj/

src/ClientTests/bin/
src/ClientTests/obj/

src/Server/bin/
src/Server/obj/

src/ServerTests/bin/
src/ServerTests/obj/